@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
    font-family: var(--font-sans), sans-serif;
  }
}

@layer utilities {
  /* Minimalist Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-200;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300;
  }
}
